{% extends 'layout/layout.twig' %}
{% do
    headScript()
        .appendFile('//maps.googleapis.com/maps/api/js?key=AIzaSyBygCnThX_0os3vwPheCEhLQZq3WuhePQM&sensor=false')
        .appendFile('/js/main.js')
%}
{% block content %}
    <div class="map-container">
        <div id="map-canvas"></div>
    </div>
{% endblock %}